body{
  background-color: rgb(2,115,74);
  text-align: center;
  color: #fff;
}

.grid{
  margin: 0 auto;
  display: table;
}

.row{
  display: table-row;
}

.cell{
  width: 130px;
  height: 130px;
  display: table-cell;
  font-size: 110px;
}

#cell0,
#cell1,
#cell3,
#cell4,
#cell6,
#cell7{
  border-right: 10px solid #000;
}

#cell0,
#cell1,
#cell2,
#cell3,
#cell4,
#cell5{
  border-bottom: 10px solid #000;
}

.cell:hover{
  background-color: rgba(255,255,255,0.3);
}

button{
  font-size: 30px;
  margin-top: 30px; 
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  border-radius: 10px;

}

button:hover{
  background-color: rgb(44,153,196);
}

button:active{
  background-color: rgb(44,153,255);
}

